    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="jumbotron-fluid p-5 text-center bg-info">
        {% block header %}
        {% include "page/header.html" %}
        {% endblock %}
    </header>
    {% block navbar %}
        {% include "page/navbar.html" %}
    {% endblock %}
    <main class="container-fluid">
         {% block content %}{% endblock %}
    </main>
    <footer class="container-fluid">
    {% block footer %}
        {% include "page/footer.html" %}
    {% endblock %}
    </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
