{% extends "base.html" %}
{% block title %}Editace hry{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-dark">
        <h2 class="text-center text-white">Smazání hry</h2>
    </div>
</div>
<div class="row">
    <div class="text-center col-12">
        <p>Určitě chcete smazat tuto hru: {{ hra }}?</p>
        <form action="" method="POST">
          {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Ano, smazat">
        </form>
    </div>
</div>
{% endblock %}