{% extends "base.html" %}
{% block title %}{{ view_title }}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Přehled her</h2>
    </div>
</div>
<div class="row">
    {% for hra in hras %}
    <div class="col-sm-4">
        <div class="card">
            {% if hra.plakat %}
            <img class="card-img-top" src="{{ hra.plakat.url }}" alt="{{ hra.name }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ hra.name }}</h4>
                <p class="card-text"><strong>Žánry:</strong> {{ hra.zanr }}</p>
                <p><strong>Rating:</strong> {{ hra.rating }}</p>
                <a href="{% url 'hra_detail' hra.pk %}" class="btn btn-primary">Podrobnosti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if is_paginated %}
<div class="row mt-5">
    <div class="col-12">
    </div>
</div>
{% endif %}
<div class="row mt-3">
    <div class="col-sm-12">
        <h4>Celkový počet her: {{ num_hras }}</h4>
    </div>
</div>
{% endblock %}