    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand text-info" href="#">DDH</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Úvodní stránka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hry' %}">Hry</a>
          </li>
            </ul>
        <ul class="navbar-nav">
           {% if user.is_authenticated %}
             <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">User: {{ user.get_username }}</a></li>
                <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Logout</a></li>           {% else %}
             <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}" class="nav-link">Login</a></li>
               <li class="nav-item"><a href="{% url 'signup'%}?next={{request.path}}" class="nav-link">Sign up</a></li>
           {% endif %}
        </ul>
      </div>
    </nav>